body {
  font-family: Inter;
  background-color: #f4f4f4;
}

.container {
  margin: 0 auto;
  padding: 0 150px 20px;
  max-width: 1400px;
  background-color: #fff;
}

.left-wrapper-hero {
  width: 50%;
}

.right-wrapper-hero {
  width: 50%;
}

.section__hero {
  display: flex;
  padding-top: 120px;
  padding-bottom: 190px;
}

.hero__title {
  font-weight: 700;
  font-size: 60px;
  max-width: 540px;
}

.hero__text {
  margin-top: 15px;
  font-size: 18px;
  max-width: 540px;
  color: rgba(51, 51, 51, 0.8);
}

.img-container {
  position: absolute;
  left: 540px;
  top: 15%;
}

.hero__img {
  width: 100%;
}

@media (max-width: 1100px) {
  .container {
    padding: 0 50px 20px;
  }

  .section__hero {
    padding-top: 60px;
    padding-bottom: 110px;
  }
}

@media (max-width: 900px) {
  .section__hero {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .hero__title {
    font-size: 42px;
    max-width: 50%;
  }

  .hero__text {
    font-size: 16px;
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  .container {
    padding: 0 20px 20px;
  }
}

@media (max-width: 580px) {
  .container {
    padding: 0 20px;
  }

  .section__hero {
    flex-direction: column;
  }

  .left-wrapper-hero {
    width: 100%;
  }

  .right-wrapper-hero {
    width: 60%;
    margin: 0 auto;
  }

  .section__hero {
    padding-top: 20px;
    padding-bottom: 100px;
  }

  .hero__title {
    margin: 0 auto;
    font-size: 32px;
  }

  .hero__text {
    font-size: 14px;
  }
}

/* // ============ УСЛУГИ ============
// ============ УСЛУГИ ============
// ============ УСЛУГИ ============ */

.section__services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 60px;
}

.services__title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 20px;
}

.services__info {
  font-size: 18px;
  margin-bottom: 50px;
  color: rgba(51, 51, 51, 0.8);
}

.services__list {
  grid-template-columns: repeat(2, 1fr);
  margin: 30px auto;
  grid-gap: 35px;
  display: grid;
}

.services__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  border: 5px solid rgb(235, 235, 235);
  border-radius: 15px;
}

.item__title {
  font-size: 22px;
}

.item__info {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 18px;
}

.services__img {
  margin-top: 150px;
}

@media (max-width: 900px) {
  .services__info {
    margin-bottom: 0;
  }

  .services__list {
    grid-gap: 15px;
  }

  .item__title {
    font-size: 18px;
  }

  .item__info {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .services__list {
    display: flex;
    flex-direction: column;
  }

  .services__item {
    padding: 10px;
  }

  .services__img {
    margin-top: 0;
  }
}

/* // ============ ПАРТНЕРЫ ============
// ============ ПАРТНЕРЫ ============
// ============ ПАРТНЕРЫ ============ */

.section__partners {
  display: flex;
  flex-direction: column;
  margin: 70px auto;
}

.left-wrapper {
  width: 50%;
}

.right-wrapper {
  width: 50%;
}

.partners__title {
  margin: 0 auto 50px;
  font-weight: 700;
  font-size: 48px;
}

.partners__item {
  margin-bottom: 15px;
  font-size: 22px;
  color: rgba(51, 51, 51, 0.8);
  z-index: 1;
}

.partners__list-img {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 180px;
  z-index: 1;
}

.partners__item-img {
  width: 20%;
  max-height: 150px;
  z-index: 1;
}

.partenrs__img {
  max-height: 150px;
  z-index: 1;
}

.partners__item-img-middle {
  position: absolute;
  left: 40%;
  top: 35%;
  z-index: 1;
}

@media (max-width: 700px) {
  .partners__title {
    font-size: 36px;
  }
}

/* // ============ КАРТА ============
// ============ КАРТА ============
// ============ КАРТА ============ */

.section__map {
  margin-top: 150px;
  margin-bottom: 150px;
  padding: 50px;
  display: flex;
  border: 5px solid rgb(235, 235, 235);
  border-radius: 15px;
}

.map__title {
  font-weight: 700;
  font-size: 48px;
}

.map__text {
  margin-top: 50px;
  font-size: 18px;
}

@media (max-width: 900px) {
  .section__map {
    padding: 20px;
  }

  .map__title {
    font-size: 32px;
  }

  .map__text {
    font-size: 16px;
    margin-top: 20px;
  }
}

@media (max-width: 700px) {
  .section__map {
    flex-direction: column;
  }

  .left-wrapper {
    width: 100%;
  }
  .right-wrapper {
    width: 100%;
  }
}

@media (max-width: 580px) {
  .map__title {
    font-size: 28px;
  }

  .map__text {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

/* // ============ ЗАЯВКА ============
// ============ ЗАЯВКА ============
// ============ ЗАЯВКА ============ */

.section__request {
  height: 450px;
  background: url("../img/request.jpg");
  background-size: cover;
  background-position: 50%;
}

.container-full {
  position: relative;
  margin: 0 auto;
  padding: 0 150px;
  max-width: 1400px;
  background-color: #fff;
}

.request-window {
  position: absolute;
  top: -25px;
  right: 30%;
  width: 40%;
  padding: 20px 40px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 5px solid rgb(235, 235, 235);
}

.request__title {
  font-weight: 700;
  font-size: 56px;
}

.request__text {
  margin-top: 20px;
  font-size: 18px;
  color: rgba(51, 51, 51, 0.8);
}

.input {
  width: 100%;
  padding: 20px;
  background-color: rgba(71, 98, 255, 0.08);
  border-radius: 8px;
}

.input::placeholder {
  color: rgb(151, 151, 151);
}

.request__service {
  margin-top: 55px;
}

.request__info {
  margin-top: 25px;
}

.btn {
  width: 100%;
  padding: 22px 0px;
  font-size: 18px;
  color: #ffffff;
  background-color: rgb(71, 98, 255);
  border: 2px solid rgb(71, 98, 255);
  border-radius: 8px;
}

.btn:hover {
  color: rgb(71, 98, 255);
  background-color: #ffffff;
}

.request__btn {
  margin-top: 25px;
}

/* // ============ КОНТАКТЫ ============
// ============ КОНТАКТЫ ============
// ============ КОНТАКТЫ ============ */

.section__contacts {
  margin-top: 200px;
  height: auto;
  display: flex;
  justify-content: space-around;
  /* padding-bottom: 50px; */
}

.left-wrapper-contacts {
  width: 40%;
}

.right-wrapper-contacts {
  width: 40%;
}

.contacts__title {
  font-weight: 700;
  font-size: 48px;
}

.contacts__logo-wrapper {
  margin-top: 50px;
}

.contacts__info {
  margin-top: 25px;
  margin-left: 30px;
  display: grid;
  flex-direction: row;
  gap: 25%;
  font-size: 14px;
  letter-spacing: 1px;
}

.contacts__item {
  position: relative;
  width: 100%;
  color: #000;
}

.contacts__item-mail::before {
  content: "";
  display: block;
  position: absolute;
  right: 102%;
  top: -2px;
  background-image: url("../img/mail.webp");
  background-size: cover;
  width: 24px;
  height: 24px;
}

.contacts__item-phone::before {
  content: "";
  display: block;
  position: absolute;
  right: 102%;
  top: -2px;
  background-image: url("../img/tel.png");
  background-size: cover;
  width: 24px;
  height: 24px;
}

.contacts__item-teleg::before {
  content: "";
  display: block;
  position: absolute;
  right: 102%;
  top: -2px;
  background-image: url("../img/telega.webp");
  background-size: cover;
  width: 24px;
  height: 24px;
}

.contacts__item-whatsapp::before {
  content: "";
  display: block;
  position: absolute;
  right: 102%;
  top: -2px;
  background-image: url("../img/whatsapp.png");
  background-size: cover;
  width: 24px;
  height: 24px;
}

.contacts__item-geo::before {
  content: "";
  display: block;
  position: absolute;
  right: 102%;
  top: -2px;
  background-image: url("../img/geo.png");
  background-size: cover;
  width: 24px;
  height: 24px;
}

@media (max-width: 1100px) {
  .section__contacts {
    padding-bottom: 50px;
  }

  .contacts__title {
    font-size: 32px;
  }

  .contacts__logo-wrapper {
    width: 60%;
    margin-top: 20px;
  }

  .contacts__info {
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  .section__contacts {
    padding-bottom: 80px;
  }
}

@media (max-width: 580px) {
  .section__contacts {
    flex-direction: column;
    padding-bottom: 100px;
  }

  .left-wrapper-contacts {
    width: 100%;
    justify-content: center;
  }

  .right-wrapper-contacts {
    justify-content: center;
    width: 100%;
  }

  .contacts__logo-wrapper {
    width: 30%;
    margin-top: 20px;
  }
}
